page-card-detail {
  .card-detail {
    font-size: 1.4em;
    font-weight: 100;
  }

  // TODO: flexbox를 이용해서 Vertical-align 구현하기
  // ref : https://github.com/philipwalton/solved-by-flexbox
  .study-card {
    height: 50%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }

  // .source {
  //   align-self: flex-start;
  // }

  .question {
    text-align: center;
  }

  .answer {
    text-align: center;
  }

  .count {
    font-size: 0.7em;
  }
}
